@tailwind base;
@tailwind components;
@tailwind utilities;

* { font-family: 'DM Sans', sans-serif; }
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb { background: #CBD5E1; border-radius: 3px; }